<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <p>Thanks for visiting my portfolio website. Here's the message that you sent for your reference.</p>
    <p>Name: <%= msg.name %></p>
    <p>Email: <%= msg.email %></p>
    <p>Subject: <%= msg.subject %></p>
    <p>Description: <%= msg.description %></p>
</body>
</html>